@using PracticaEntityFrameWork.Data.Entidades;
@model PracticaEntityFrameWork.Data.Entidades.Empleado;
<partial name="_ValidationScriptsPartial" />
<form asp-controller="Empleados" asp-action="Crear" method="post">
    <label for="Nombre">Nombre:</label>
    <input type="text" id="nombre" name="Nombre" value="@Model.Nombre">
    <span asp-validation-for="Nombre" class="text-danger"></span>

    <label for="Apellido">Apellido:</label>
    <input type="text" id="apellido" name="Apellido" value="@Model.Apellido">
    <span asp-validation-for="Apellido" class="text-danger"></span>

    <label for="IdDepartamento">Departamento:</label>
    <select id="departamento" name="IdDepartamento">
        @if(Model.IdDepartamento == 0)
        {
            <option selected="selected" value="0">Seleccione Departamento</option>
        }
        @foreach (Departamento departamento in ViewBag.Departamentos)
        {
            if(Model.IdDepartamento != 0 && Model.IdDepartamento == departamento.Id) 
            {
                <option value="@departamento.Id" selected="selected">@departamento.Descripcion</option>
            }else
            {
                <option value="@departamento.Id">@departamento.Descripcion</option>
            }

        }
    </select>
    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
    <input type="submit" value="Crear">
</form>

